

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý phiếu giảm giá</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/custom-sweetalert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link th:href="@{/icons/sun.png}" rel="icon" type="image/png"> <!-- Favicon -->

</head>
<body>
<!-- Nhúng Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Nội dung chính -->
<main>
    <h1>Trang phiếu giảm giá</h1>
</main>
<script src="/js/menu.js"></script>
<script src="/js/sweetalert.js"></script>
</body>
</html>